@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the final group project that is made with ASP.NET Core by following team members:</p>
    <ol style="margin-bottom: 0;">
        <li>Jemin Shrestha</li>
        <li>Sunil Raut</li>
        <li>Sulav Thapa</li>
        <li>Aviral Khadka</li>
    </ol>
</div>

