@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is the final assignment submitted to Georgian College - Information Encoding and it shall not be used or copied by any other students or individuals.</p>
